img {
	object-fit: cover;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	float: left;
	padding: 5px 5px 0 5px;
}

.btn-sml {
	margin: auto 5px;
	height:  4vh;
	display: inline-flex;
	align-items: center;
}