.container {
	background-color: #D0E7F5;
	position: fixed;
	top: 191px;
	left: 12.5vw;
}

#nextButton {
	background-color: #151146;
	color: #E8F9FA;
}

#gameArea {
	height: calc(100vh - 191px);
}

@media only screen and (max-width: 992px) {
	.container {
		width: 100vw;
		left: 0px;
	}
}