#numOfQuestionsLabel, #amountOfMilliesLabel, #imageLinkLabel, #constructLinkLabel {
	background-color: #EC56A3;
	color: #E8F9FA;
}

button {
	background-color: #0A52CE;
	color: #E8F9FA;
}

#submitButton {
	background-color: #151146;
	color: #E8F9FA;
}