<button class="link" (click)="toggleLeaderboard()"><div [ngClass]="showLeaderboard ? 'arrow-up' : 'arrow-down'"></div></button>
<button *ngIf="showLeaderboard" class="link" (click)="openModal(modal)">Leaderboard: {{interest}}</button>
<div *ngIf="!showLeaderboard" style="display: inline-block;">Leaderboard: {{interest}}</div>
<div *ngIf="showLeaderboard" class="row">
	<app-user-profile class="col text-center" [userData]="leaderBoardUsers"></app-user-profile>
</div>

<ng-template #modal let-modal>
	<div class="modal-header custom-modal">
		<h4 class="modal-title">
			Select Interest
		</h4>
	</div>
	<div class="modal-body custom-modal">
		<button
			class="btn btn-block btn-interest"
			*ngFor="let interest of interests"
			(click)="changeInterest(modal, interest)">
			{{interest.title.slice(0,1).toUpperCase() + interest.title.slice(1)}}
		</button>
	</div>
</ng-template>