<button class="link" (click)="openModal(modal)">Leaderboard: {{interest}}</button>
<div class="row">
	<app-user-profile
		class="col text-center"
		*ngFor="let user of users"
		[user]="user">
	</app-user-profile>
</div>

<ng-template #modal let-modal>
	<div class="modal-header custom-modal">
		<h4 class="modal-title">
			Select Interest
		</h4>
	</div>
	<div class="modal-body custom-modal">
		<button
			class="btn btn-block btn-interest"
			*ngFor="let interest of interests"
			(click)="changeInterest(modal, interest)">
			{{interest.slice(0,1).toUpperCase() + interest.slice(1)}}
		</button>
	</div>
</ng-template>