.arrow-up {
 	width: 0; 
	height: 0;
	display:  inline-block; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  	border-bottom: 10px solid #E8F9FA;
}

.arrow-down {
	width: 0; 
	height: 0;
	display:  inline-block; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  	border-top: 10px solid #E8F9FA;
}

button.link {
	background: none;
	border: none;
	color: #E8F9FA;
}

.custom-modal {
	background-color: #151146;
	color: #E8F9FA;
}

.custom-modal .btn-interest {
	background-color: #D0E7F5;
	color: #151146;
}