<button class="link" (click)="openModal(modal)">Leaderboard: {{interest}}</button>
<div class="row">
	<app-user-profile
		class="col text-center"
		*ngFor="let user of users"
		[user]="user">
	</app-user-profile>
</div>

<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">
			Select an Interest
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<button class="btn btn-block" *ngFor="let interest of interests">
			{{interest.slice(0,1).toUpperCase + interest.slice(1)}}
		</button>
	</div>
</ng-template>